<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="import" href="component.html">
    <link rel="stylesheet" href="./main.page.css">
    <title>OCTO</title>
</head>

<body>
    <header class="header" id="header">
        <div><img src="../pictures/Octo_main.png"></div>
        <ul class="lists">
            <li>Кафе</li>
            <li>Коворкінг</li>
            <li>Бар</li>
            <li>Руфтоп</li>
            <li>Івенти</li>
            <li>Кавова школа</li>
            <li>Оренда</li>
        </ul>
    </header>
    <div><img src="../pictures/Main picture.png" alt=""></div>
    <div class="text">OCTO tower – це простір, який вміщає в себе брю бар, пекарню, коктейльний бар, магазин, коворкінг, школу
        ХОРЕКА, великий лекторій та панорамний руфтоп. Над вхідними дверима до OCTO прикріпили напис «stedelijk
        erfgoed», який із нідерландської перекладається як «міська спадщина».
        Суттєва різниця Octo від інших кавових барів - відсутність автоматичного приготування кави та напоїв з молоком
        (тільки альтернативні напої). Це означає, що кожен напій готується у той самий момент перед твоїми очами, а
        також всі напої вимагають більшого часу приготування, ніж звичайно, бо це шоу. Але ми вирішили піти назустріч та
        зробити це шоу доступним.
        Крім того, ми надаємо наші приміщення, руфтоп та мостик в оренду для організації свят та івентів, а наші стіни
        служать місцем для організації виставок художників та фотографів.
        Octo Tower — це більше, ніж просто кав’ярня чи кафе.Цей простір об’єднує в себе стільки деталей та можливостей,
        що може закривати всі існуючі потреби гостя.</div>
        <div class="wrapper">
            <div><img src="../pictures/cafe.png"></div>
            <div><img src="../pictures/coworking.png"></div>
            <div><img src="../pictures/bar.png"></div>
            <div><img src="../pictures/rooftop.png"></div>
            <div><img src="../pictures/events.png"></div>
            <div><img src="../pictures/coffee school.png"></div>
        </div>
        <div><img src="../pictures/Rent.png"</div>
        <footer class="footer">
            <div><img src="../pictures/o_letter 2.png" alt=""></div>
            <div>Київ, вул. Мечникова, 5</div>
            <ul>
                <li>Контакти</li>
                <li>Соц мережі</li>
                <li>Про нас</li>
                <li>Відгуки</li>
            </ul>
        </footer>
</body>

</html>